* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rem {
  font-size: 1rem; }

.px {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'Poppins', sans-serif; }

.grid {
  display: grid;
  grid-template-columns: 77% 23%;
  grid-template-rows: 22% 71% auto;
  grid-template-areas: "header header" "main aside" "footer footer"; }

.youtube__grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12% 84% auto;
  grid-template-areas: "header" "main" "footer"; }

/* FINAL GENERAL */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(/imagenes/mamieverest.jpeg);
  background-size: 100%;
  grid-area: header; }
  .header__contenedor1 {
    padding: 0.6rem; }
  .header__h3 {
    text-align: center;
    text-decoration: overline;
    margin-top: 0.5rem; }
  .header__logo {
    height: 14rem;
    width: 35rem; }
  .header__list {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 2.5rem; }
  .header__anchor, .aside__anchor {
    font-size: 1.1rem;
    color: black; }

.main {
  background-image: linear-gradient(to left, white, #3c96d1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem; }
  .main__contenedor {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .main__tilde {
    font-size: 1rem;
    margin-right: 3px; }

#carouselExampleCaptions {
  width: 50rem; }

.carrouseltext {
  color: black; }

.carrouseltextp {
  color: black;
  font-size: 1.2rem;
  background-color: #4591c4;
  border-radius: 1rem; }

.aside {
  grid-area: aside;
  background-image: linear-gradient(to right, white, #9abdd4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.3rem; }
  .aside__img {
    height: 10rem;
    width: 10rem; }
  .aside__p {
    text-align: center; }
  .aside__div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .aside__h3 {
    text-align: center; }
  .aside .cc {
    width: 13rem; }
  .aside__contenedor {
    background-color: #539ccc;
    border-radius: 1rem; }
    .aside__contenedorm {
      padding: 0.5rem; }
  .aside__anchor {
    font-size: 1.7rem; }
  .aside__icon {
    font-size: 1.3rem; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, #2b2a2a, #868788); }
  .footer__Img {
    height: 5rem;
    width: 5rem; }
  .footer__anchor {
    font-size: 3rem;
    color: white; }
  .footer__div {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem; }
  .footer__h3 {
    color: white;
    margin: 1rem 0rem 1rem 0rem;
    text-decoration: underline;
    text-align: center; }
  .footer__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .footer__li {
    font-size: 1.5rem;
    margin-right: 2rem;
    color: #66a0f7; }
  .footer__icon {
    margin-right: 0.3rem; }
  .footer__contenedor2 {
    display: flex;
    gap: 1rem; }
  .footer .ft {
    width: 11rem; }

/* FINAL INDEX */
.youtube__header {
  grid-area: header; }

.header__li {
  font-size: 1.3rem; }

.youtubeanchor {
  font-size: 1.3rem; }

.youtube__list {
  margin-right: 4rem; }

.youtube__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, white, #90c1d4);
  gap: 1rem; }
  .youtube__main__h1 {
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
    padding: 0.1rem;
    border-radius: 1rem;
    background-image: linear-gradient(to left, #e3eefc, #78afc7); }
  .youtube__main__h2 {
    margin: 1rem;
    padding: 0.5rem;
    text-decoration: underline;
    background-image: linear-gradient(to Left, rgba(35, 106, 199, 0.384), #4da5b4); }
    .youtube__main__h2__right {
      margin: 1rem;
      padding: 0.5rem;
      text-decoration: underline;
      background-image: linear-gradient(to Right, rgba(35, 106, 199, 0.384), #4da5b4); }
  .youtube__main__div1 {
    text-align: center;
    gap: 1rem; }
  .youtube__main__div2 {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .youtube__main__div3 {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .youtube__main__div4, .youtube__main__div5 {
    display: flex;
    flex-direction: column;
    gap: 1rem; }

.dobleiframecontenedor {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.iframe {
  width: 20rem;
  height: 13rem; }
  .iframesuper {
    width: 35rem;
    height: 23rem; }
  .iframecontenedor {
    display: flex;
    justify-content: space-evenly; }
    .iframecontenedorh3 {
      font-size: 1.1rem;
      text-align: center;
      padding: 0.1rem;
      border-radius: 1rem;
      background-image: linear-gradient(to left, #e3eefc, #78afc7); }
  .iframe__h3 {
    text-align: center; }

.deportistadiv {
  text-align: end; }

.youtube__footer {
  grid-area: footer; }

/* FINAL YOUTUBE */
.propmain {
  display: flex;
  flex-direction: column; }
  .propmain__titulo {
    padding: 1rem;
    color: white; }
  .propmain__superdiv {
    display: flex;
    flex-direction: column; }
  .propmain__div {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem; }
    .propmain__div__p {
      font-size: 0.7rem; }
  .propmain__img {
    height: 9rem;
    width: 100%; }
  .propmain__mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;
    width: 18rem; }

.background {
  background-image: linear-gradient(rgba(5, 7, 12, 0.541), rgba(5, 7, 12, 0.479)), url(/imagenes/mamieverest.jpeg);
  background-size: 100% 100%; }

.backgroundd {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(/imagenes/fiambala.jpg);
  background-size: 100%; }
