* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rem {
  font-size: 1rem; }

.px {
  font-size: 16px; }

h1, h3, a {
  font-family: 'Dancing Script', cursive; }

p {
  font-family: 'Indie Flower', cursive; }
