.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-image:linear-gradient(rgba(5, 7, 12, 0.671), rgba(5, 7, 12, 0.616)),url(/imagenes/mamieverest.jpeg);
    background-size: 100%;
    color: white;

    &div{

        @extend .contacto;
        background-image: none;
        gap: 2rem;

        &a{
            display: flex;
            color: white;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            transition: all 0.3s;
        }

        &a:hover{
            transform: scale(1.2,1.2);
        }
    }

    &icon{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    &h1{
        font-size: 4rem;
    }

    &h4{
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }

    &form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &input{
        padding: 1rem;
        width: 40rem;
        border-radius: 2rem;
        color: black
    }

    &button{
        @extend .contactoinput;
        transition: all 1s;

        &:hover{
            color: white;
            background-image: linear-gradient(to right, rgb(223, 159, 159), red);
        }
    }


}

