*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rem{
    font-size: 1rem;
}

.px{
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, li{
    font-family: 'Poppins', sans-serif;
}

.prueba{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    &img{
        height: 20rem;
        width: 40rem;
    }
}

.grid{
    display: grid;
    grid-template-columns: 77% 23%;
    grid-template-rows: 22% 71% auto;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
}

.youtube__grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 84% auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
    
}

/* FINAL GENERAL */

