*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rem{
    font-size: 1rem;
}

.px{
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, li, label, input, button{
    font-family: 'Poppins', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 77% 23%;
    grid-template-rows: 22% 71% auto;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
}

.youtube__grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 85% auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
    
}

/* FINAL GENERAL */

