.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/imagenes/mamieverest.jpeg);
    background-size: 100%;
    grid-area: header;

    &__contenedor1{
        padding: 0.6rem;
    }

    &__h3{
        text-align: center;
        text-decoration: overline;
        margin-top: 0.5rem;
    
    }

    &__logo{
        height: 14rem;
        width: 35rem;
    }

    &__list{
        list-style-type: none;
        display: flex;
        gap: 1.5rem;
        margin-right: 2.5rem;
    }

    &__anchor{
        font-size: 1.1rem;
        color: black;
    }
}

/* Principio HEADER sub página youtube */

.youtube__header{
    grid-area: header;
}

.header__li{
    font-size: 1.3rem;
}

.youtubeanchor{
    font-size: 1.3rem;
}

.youtube__list{
    margin-right: 4rem;
}