.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/imagenes/mamieverest.jpeg);
    background-size: 100%;
    grid-area: header;

    &__contenedor1{
        padding: 0.6rem;
    }

    &__h3{
        text-align: center;
        text-decoration: overline;
        margin-top: 0.5rem;
    
    }

    &__logo{
        height: 14rem;
        width: 35rem;
    }

    &__list{
        list-style-type: none;
        display: flex;
        gap: 1.5rem;
        margin-right: 2.5rem;
    }

    &__anchor{
        font-size: 1.3rem;
        color: black;
    }
}

.main{
    background-image: linear-gradient( to left, white, rgb(60, 150, 209));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &__contenedor{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__tilde{
        font-size: 1rem;
        margin-right: 3px;
    }
}

#carouselExampleCaptions{
    width: 50rem;
}

.carrouseltext{
    color: black;
}

.carrouseltextp{
    color: black;
    font-size: 1.2rem;
    background-color: rgb(69, 145, 196);
    border-radius: 1rem;
}

.aside{
    grid-area: aside;
    background-image: linear-gradient(to right, white, rgb(154, 189, 212));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid black;
    margin: 1rem;

    &__img{
        height: 10rem;
        width: 10rem;
    }

    &__p{
        text-align: center;
    }

    &__div{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    &__h3{   
        text-align: center;
    }

    .cc{
        width: 13rem;
    }

    &__contenedor{
        background-color: rgb(83, 156, 204);
        border-radius: 1rem;

    &m{
        padding: 0.5rem;
        }
    }

    &__anchor{
        @extend .header__anchor;
        font-size: 1.7rem;
        
    }

    &__icon{
        font-size: 1.3rem;
    }
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, rgb(63, 63, 63), rgb(165, 165, 167));

    &__Img{
        height: 5rem;
        width: 5rem;
    }
    
    &__anchor{
        font-size: 3rem;
        color: rgb(255, 255, 255);
    }

    &__div{
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__h3{
        color: white;
        margin: 1rem 0rem 1rem 0rem;
        text-decoration: underline;
        text-align: center;
    }

    &__list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__li{
        font-size: 1.5rem;
        margin-right: 2rem;
        color: rgb(102, 160, 247);
    }

    &__icon{
        margin-right: 0.3rem;
    }

    &__contenedor2{
        display: flex;
        gap: 1rem;
    }

    .ft{
        width: 11rem;
    }
}

/* FINAL INDEX */




