// principio MEDIA QUERIES (Index)

@media screen and (max-width: 420px){

// Index

.grid{
    grid-template-columns: auto;
    grid-template-rows: 15% 28% auto 12%;
    grid-template-areas: "header"
                         "main"
                         "aside"
                         "footer";
    background-image: linear-gradient(to bottom,white,rgb(60, 150, 209));
                        
}

.header{
    
    flex-direction: column;

    &i{
        font-size: 0.6rem;
    }

    &__logo{
        width: 100%;
        height: 10rem;
    }

    &__list{
        gap: 0.5rem;
    }

    &__anchor{
        font-size: 0.5rem;
        background-color: white;
        border-radius: 0.3rem;
    }

    &li{
        background-color: white;
        border-radius: 0.3rem;
        padding: 0.2rem;
        display: flex;
        align-items: center;
        gap: 0.1rem;
    }
}

.main{

   background-image: linear-gradient(to bottom,white,rgb(60, 150, 209));


    &__h3{
        font-size: 1rem;
        max-width: 390px;
        padding-left: 1rem;
    }

}    

.aside{
    background-image: linear-gradient(to top,white,rgb(60, 150, 209));
    border: none;
    margin: 0rem;

    &__h3{
        font-size: 1.3rem;
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: white;
    }

    &__div{
        margin-top: 1.5rem;
    }

    &__p{
        max-width: 390px;
    }

    &__contenedor{
        margin: 1rem;
    }

    &__anchor{
        font-size: 1rem;
        background-color: none;
    }

    &__icon{
        font-size: 1rem;
    }


}

#carouselExampleCaptions{
    width: 20rem;
}

.footer{
    flex-direction: column;

    &__Img{
        height: 4rem;
        width: 3.3rem;
    }
}

// CONTACTO

.contacto{
    background-size: 100% 33%;

    &div{
        flex-direction: column;
        gap: 1rem;
    }

.contactsection{
    gap: 1rem;
    border-bottom: 1px white solid;

    &h2{
        font-size: 1.2rem;
    }

    &div{
        margin-left: 0rem;
        margin-bottom: 1rem;
    }

    &p{
        font-size: 1rem;
    }

    &2{
        margin-right: 0rem;
        width: 22rem;
    }
}

}

// YOUTUBE

.youtube__grid{
    grid-template-rows: 13% 80% auto;

}

.youtube__list{
    text-align: center;
    margin-right: 2rem;
}

.youtubeanchor{
    font-size: 0.5rem;
    background-color: white;
    border-radius: 0.3rem;
}

.iframesuper{
    width: 20rem;
    height: 12rem;
}

.iframe{
    width: 10rem;
    height: 6rem;
    text-align: center;

    &contenedorh3{
        font-size: 0.8rem;
    }
}

.iframecontenedordiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

// QUIEN SOY

.sec1divh1{
    margin-top: 0.5rem;
}

.sec1divh3{
    margin-left: 1rem;
    font-size: 1.3rem;
}

.sec1div2{
    display: flex;
    flex-direction: column;
}

.sec1img{
    width: 20rem;
    height: 20rem;
}

.sec2{
    flex-direction: column;

    &div{
        width: 100%;
    }

    &h4{
        margin-bottom: 2rem;
    }
}

.sec3div2cont{
    display: flex;
    flex-direction: column;
}

// PROPUESTAS

.propmain__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.propmain__titulo__h1{
    text-align: center;
}

.propmain__minip{
    color: 
    black;
}

.background{
    background-image: linear-gradient(to bottom, rgb(11, 172, 226),rgb(86, 205, 235));
}

.subheader{
    display: flex;
    flex-direction: column;

    &__div1{
        justify-content: end;
        margin-top: 0.5rem;
        margin-right: 1rem;
    }

    &__div2{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: 0.5rem;
    }
}

.grupalcont{
    flex-direction: column;
    width: 100%;
}

.backgroundd{
    background-image: linear-gradient(to bottom, rgb(11, 172, 226),rgb(86, 205, 235));
    border-top: 1px black solid;
}

.propmain__titulo{
    color: black;
}

.grupimgp{
    color: black;
}

.subtitle{
    font-size: 1.5rem;

    &2{
        font-size: 1rem;
        text-align: center;
    }
}

}