.paquete{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: linear-gradient(315deg, rgb(84, 157, 240) 0%,rgb(255, 255, 255) 100%);

    & section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        & img{
            height: 10%;
            width: 25%;
            border: rgb(78, 72, 72) 2px solid;
            border-radius: 1rem;
            margin: 1.5rem;
            box-shadow: 5px 5px 5px rgb(84, 157, 240);
            
            &:hover{
                box-shadow: 5px 5px 5px black;
            }

        }

    }
}