.propmain{
    display: flex;
    flex-direction: column;

    &__titulo{
        padding: 1rem;
        color: white;

        &__h1{
            text-align: end;
            animation: propmaintitulo 8s linear 1 0s;

            @keyframes propmaintitulo {

                1%{
                    padding: 0.3rem;
                    border-radius: 2rem;
                    color: black;
                }

                25%{
                    margin-right: 59%;
                }

                50%{
                    background-color: rgb(27, 160, 221);
                    margin-right: 59%;
                }

                75%{
                    margin-right: 59%;
                }

                100%{
                    padding: 0.3rem;
                    border-radius: 2rem;
                    color: black;
                }
            }
        }

        &p{
            text-align: center;
        }

        &span{
            padding: 0.3rem;
            border-radius: 3rem;
            background-color: white;
            color: rgb(26, 165, 207);
        }

    }

    &__superdiv{
        display: flex;
        flex-direction: column;
    }

    &__div{
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;

        &__p{
            font-size: 1rem;
        }
    }

    &__img{
        height: 12rem;
        width: 15rem;
    }

    &__mini{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        color: white;
        width: 15rem;
        transition: all 1.2s;

        &:hover{
            scale: (1.2);
        }

        &p{
            text-align: center;
            font-size: 1.1rem;
            background-color: white;
            color: rgb(26, 165, 207);
            width: 15rem;
            font-family: "Sniglet", serif;
            font-weight: 400;
            font-style: normal;
            transition: all 1.2s;

        }
    }

}

.background{
    background-image: linear-gradient(rgba(5, 7, 12, 0.671), rgba(5, 7, 12, 0.616)),url(/imagenes/mamieverest.jpeg);
    background-size: 100% 100%;
}

.backgroundd{
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),url(/imagenes/fiambala.jpg);
    background-size: 100%;
}

.grupimg{
    height: 15rem;
    width: 15rem;

    &p{
        color: white;
    }
}

.grupalcont{
    display: flex;
    width: 50rem;
    padding: 2rem;
    align-items: center;
    gap: 1rem;
}
