.reflexiones{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-image: linear-gradient(to right, rgb(67, 158, 189), rgb(216, 234, 240));

    &div{
        display: flex;
        justify-content: space-between;
        border-top: 1px black solid;
        padding: 1rem;
    }

    &img{
        width: 25rem;
        height: 15rem;
    }

    &title{
        font-size: 2.3rem;
    }

    &p{
        font-size: 1.6rem;
    }

    &texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &a{
        font-size: 1.3rem;
        color: black;
        text-decoration: none;
        background-color: white;
        padding: 0.5rem;
        border: 1px solid black;
        border-radius: 1rem;
        width: 15rem;
        transition: all 0.5s;
    }

    &a:hover{
        transform: scale(1.1,1.1);
        background-image: linear-gradient(to right,rgb(216, 234, 240), rgb(67, 158, 189));
    }
}

.subreflex{
    display: flex;
    flex-direction: column;

    &div{
        display: flex;
        flex-direction: row-reverse;
        border-bottom: 1px black solid;
        padding: 0.5rem;
        gap: 1rem;
        background-image: linear-gradient(to right,rgb(72, 198, 240),rgb(226, 238, 240));

        & div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            & h4{
                text-align: start;
                position: absolute;
                margin: 0.2rem;
                padding: 0.2rem;
                font-size: 1rem;
                border-radius: 3px;
                background-color: rgb(187, 229, 241);
            }
        }

        & h4{
            text-align: center;
            padding-top: 1rem;
        }


        &text{
            display: flex;
            flex-direction: column;
            background-image: linear-gradient(to right,rgb(72, 198, 240),rgb(226, 238, 240));
            padding: 0.2rem;
            gap: 1rem;

            & div{
                display: flex;
                gap: 1rem;
                padding: 1rem;
                align-items: center;

                & div{
                    align-items: baseline;

                    & h4{
                        position: absolute;
                        margin: 0.2rem;
                        padding: 0.2rem;
                        font-size: 1rem;
                        border-radius: 3px;
                        background-color: rgb(187, 229, 241);
                    }

                }

                & span{
                    font-size: 1.2rem;
                    font-weight: 800;
                }
            }

            & img{
                height: 30rem;
                width: 25rem;
            }

            & p{
                padding: 0.2rem;
            }

            & h2{
                text-align: center;
                padding: 1rem;
                font-weight: 900;
            }

            &div{
                display: flex;
                flex-direction: row-reverse;
            }


        }

        &img{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

        }

    }

    &titles{
        font-size: 2rem;
        text-align: center;
        border-radius: 10px;
        font-weight: 900;
    }

    &img{
        width: 35rem;
        max-height: 30rem;

        &a{
            width: 45rem;
            height: 30rem;
        }
    }

}
