.subheader{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right,rgb(184, 227, 240),rgb(91, 218, 211));

    &__div{
        display: flex;
        align-items: center;
        gap: 1.1rem;

    &1{
        margin-left: 1rem;
    }

    &2{
        margin-right: 1rem;

    &__div{
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    }

    &__anchor{
        color: black;
        font-size: 1.2rem;
        text-decoration: none;

    &__prin{
        font-size: 1.5rem;
    }

    }

    &__img{
        height: 4rem;
        width: 4rem;
        transform: skew(-22deg);
    }

    }
}

// main

.mentorado{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-image:linear-gradient(rgba(5, 7, 12, 0.671), rgba(5, 7, 12, 0.616)), url(/imagenes/mamieverest.jpeg);
    background-size: 100%;
    

    & section{
        padding: 3rem;
        border-radius: 50%;
        background-color: rgb(91, 218, 211);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;

        & h1, span, h2{
            font-family: "Sniglet", serif;
            font-weight: 400;
            font-style: normal;
        }

        & h1{
            animation: mentoradoh1 1s ease-in-out forwards 1s;
        }

        @keyframes mentoradoh1 {
            100%{
                background-color: rgb(91, 218, 211);
                border-top-right-radius: 2rem;
                border-top-left-radius: 2rem
            }
        }

        & h2{
            padding-bottom: 0.8rem;
        }

    }

    &__circle__title{
        height: 65vh;
        width: 65vh;
        animation: mentoradocircletitle 1s ease-in-out forwards 1s;
    }

    @keyframes mentoradocircletitle {
        100%{
            background-color: white;
            border: 3px solid rgb(91, 218, 211);
            margin-left: 1rem;
            transform: scale(1.1);
        }
    }

    &__circle__text{
        height: 100vh;
        width: 100vh;
        animation: mentoradocircletext 1s ease-in-out forwards 0.5s;

        & p{
            padding: 1rem;
        }
    }

    @keyframes mentoradocircletext{
        100%{
            background-color: white;
            border: 3px solid rgb(91, 218, 211);
            margin-left: 1rem;
        }
    }
}

.excusas{
    @extend .mentorado;

    & h1, span, h2{
            font-family: "Sniglet", serif;
            font-weight: 400;
            font-style: normal;
    }

    & h2{
        padding-bottom: 0.8rem;
    }

    &__circle__title{
        height: 60vh;
        width: 60vh;
        animation: mentoradocircletitle 1s ease-in-out forwards 1s;
    }

    &__circle__text{
        height: 85vh;
        width: 85vh;
        animation: mentoradocircletext 1s ease-in-out forwards 0.5s;
    }
}

.comunidad{
    @extend .mentorado;

    & h1, span, h2{
            font-family: "Sniglet", serif;
            font-weight: 400;
            font-style: normal;
    }

    & h2{
        padding-bottom: 0.8rem;
    }

    & ul{
        list-style-type: none;
    }

    & i{
        padding: 0.2rem;
    }


    &__circle__title{
        height: 70vh;
        width: 70vh;
        animation: mentoradocircletitle 1s ease-in-out forwards 1s;
    }

    &__circle__text{
        height: 100vh;
        width: 100vh;
        animation: mentoradocircletext 1s ease-in-out forwards 0.5s;
    }
}

.tesis{
    @extend .mentorado;

    & h1, span, h2{
            font-family: "Sniglet", serif;
            font-weight: 400;
            font-style: normal;
    }

    & ul{
        list-style-type: none;
    }

    & i{
        padding: 0.2rem;
    }

    & h2{
        padding-bottom: 0.8rem;
    }

    &__circle__title{
        height: 60vh;
        width: 60vh;
        animation: mentoradocircletitle 1s ease-in-out forwards 1s;
    }

    &__circle__text{
        height: 95vh;
        width: 95vh;
        animation: mentoradocircletext 1s ease-in-out forwards 0.5s;
    }
}

.gestion{
    @extend .mentorado;

    & h1, span, h2{
        font-family: "Sniglet", serif;
        font-weight: 400;
        font-style: normal;
    }

    & h2{
        padding-bottom: 0.8rem;
    }

    &__circle__title{
        height: 65vh;
        width: 65vh;
        animation: mentoradocircletitle 1s ease-in-out forwards 1s;
    }

    &__circle__text{
        height: 110vh;
        width: 110vh;
        animation: mentoradocircletext 1s ease-in-out forwards 0.5s;
    }
}

.habitos{
    @extend .mentorado;

    & h1, span, h2{
            font-family: "Sniglet", serif;
            font-weight: 400;
            font-style: normal;
    }

    & h2{
        padding-bottom: 0.8rem;
    }

    &__circle__title{
        height: 65vh;
        width: 65vh;
        animation: mentoradocircletitle 1s ease-in-out forwards 1s;
    }

    &__circle__text{
        height: 95vh;
        width: 95vh;
        animation: mentoradocircletext 1s ease-in-out forwards 0.5s;
    }
}

.grupal{
    @extend .mentorado;

    & h1, span, h2{
            font-family: "Sniglet", serif;
            font-weight: 400;
            font-style: normal;
    }

    & h2{
        padding-bottom: 0.8rem;
    }

    &__circle__title{
        height: 65vh;
        width: 65vh;
        animation: mentoradocircletitle 1s ease-in-out forwards 1s;
    }

    &__circle__text{
        height: 100vh;
        width: 100vh;
        animation: mentoradocircletext 1s ease-in-out forwards 0.5s;
    }
}

